.main-order {
  background: #3d81a2;
  flex-basis: 211px;
}

.main-order-wrapper {
  justify-content: space-around;
  display: flex;
  padding-top: 4px;
}

.main-order-price {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  flex: none;
}

.main-order-price_text span {
  display: flex;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: normal;
  color: #ffffff;
}

.main-oreder-price_number {
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-oreder-price_number span {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #ffffff;
}

.main-order-button {
  display: flex;
  flex: none;
}

.main-order-button button {
  background: #fa762e;
  border-radius: 90px;
  /* font-family: Open Sans; */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  border: 0;
  outline: none;
}
