.main-quote {
  display: flex;
  background: #3d81a2;
  flex-basis: 211px;
}

.quote-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.quote-button {
  flex: none;
}

.quote-button button {
  background: #fa762e;
  border-radius: 90px;
  min-width: 136px;
  height: 36px;
  /* font-family: Open Sans; */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  border: 0;
  outline: none;
}

.quote-cancel span {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}
