.main-transit {
    display: flex;
    flex-basis: 104px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: normal;
    text-transform: uppercase;
  
    color: #4b5158;
  }
  
  .main-transit::before {
    content: '';
    background-image: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) -1.28%,
      #c4c4c4 48.08%,
      rgba(196, 196, 196, 0) 100%
    );
    display: block;
    position: relative;
    height: 100%;
    width: 1px;
    margin-right: 10px;
  }
  
  .main-transit-container {
    display: flex;
    flex-direction: column;
  }
  
  .main-transit-head {
    display: flex;
  }
  
  .main-transit-text {
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: normal;
    text-transform: uppercase;
    color: #4b5158;
    margin: 0 3px 3px 0;
  }

  .header-option {
    cursor: default;
  }
  
  .main-transit-days {
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
  
    color: #4b5158;
  }

  .mark-question {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: normal;
    text-align: center;
  
    color: #9b9b9b;
  }