.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  background: #e2f0ff;
  justify-content: space-between;
  padding: 6px;
}

.header-title {
  align-items: center;
  display: flex;
}

.header-title-logo {
  margin-right: 4px;
}

.header-title_guaranteed {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: normal;
  margin-right: 4px;
}

.header-title_name-car {
  /* font-family: Roboto; */
  font-style: normal;
  font-size: 10px;
  line-height: normal;
}

.header-option {
  border-radius: 50%;
  border: 1px solid #a3a3a3;
  box-sizing: border-box;
  min-width: 14px;
  max-height: 14px;
  display: flex;
  justify-content: space-around;
}

.mark-question {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: normal;
  text-align: center;

  color: #9b9b9b;
}

.main {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  background: #fff;
  height: 100%;
  padding: 2px;
}

.main-delivery {
  display: flex;
  align-content: flex-start;
  flex-basis: 257px;
  align-content: flex-start;
  padding: 5px;
}

.logo-iaai {
  display: flex;
  align-items: flex-start;
  margin: 3px 3px 0 0;
  /* margin-right: 8px; */
}

.main-delivery-city {
  display: flex;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;
  color: #000000;
  align-content: flex-end;
}

.main-delivery-city img {
  margin-right: 8px;
  max-width: 10px;
  max-height: 9px;
}

.city-from {
  margin-right: 8px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.city-to {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.change-destination {
  /* background: #c4c4c4; */
  text-decoration-style: dotted;
  font-style: normal;
  font-size: 10px;
  line-height: normal;
  color: #c4c4c4;
}

.main-transist {
  display: flex;
  flex-basis: 104px;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;

  color: #4b5158;
}

.main-transist::before {
  content: '';
  background-image: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) -1.28%,
    #c4c4c4 48.08%,
    rgba(196, 196, 196, 0) 100%
  );
  display: block;
  position: relative;
  height: 100%;
  width: 1px;
  margin-right: 10px;
}

.main-transist-container {
  display: flex;
  flex-direction: column;
}

.main-transist-head {
  display: flex;
}

.main-transist-text {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;
  color: #4b5158;
  margin: 0 3px 3px 0;
}

.main-transist-days {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;

  color: #4b5158;
}

.main-order {
  background: #3d81a2;
  flex-basis: 211px;
}

.main-order-wrapper {
  justify-content: space-around;
  display: flex;
  padding: 8px 9px;
}

.main-order-price {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  flex: none;
}

.main-order-price_text span {
  display: flex;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: normal;
  color: #ffffff;
}

.main-oreder-price_number {
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-oreder-price_number span {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #ffffff;
}

.main-order-button {
  display: flex;
  flex: none;
}

.main-order-button button {
  background: #fa762e;
  border-radius: 90px;
  /* font-family: Open Sans; */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  border: 0;
  outline: none;
}
