.header {
  display: flex;
  background: #e2f0ff;
  justify-content: space-between;
  padding: 6px;
}

.header-title {
  align-items: center;
  display: flex;
}

.header-title-logo {
  margin-right: 4px;
}

.header-title_guaranteed {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: normal;
  margin-right: 4px;
}

.header-title_name-car {
  /* font-family: Roboto; */
  font-style: normal;
  font-size: 10px;
  line-height: normal;
}

.header-option {
  border-radius: 50%;
  border: 1px solid #a3a3a3;
  box-sizing: border-box;
  min-width: 14px;
  max-height: 14px;
  display: flex;
  justify-content: space-around;
}

.mark-question {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: normal;
  text-align: center;

  color: #9b9b9b;
}
