.main-delivery {
  display: flex;
  align-content: flex-start;
  flex-basis: 257px;
  align-content: flex-start;
  padding: 3px 5px;
}

.main-input{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-danger{
  font-size: 6px;
}

.main-delivery input{
/* font-size:10px; */
}

.logo-iaai {
  display: flex;
  align-items: flex-start;
  margin: 3px 3px 0 0;
  /* margin-right: 8px; */
}

.main-delivery-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.main-delivery-city {
  display: flex;
  flex-direction: column;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;
  color: #000000;
  align-content: flex-end;
}

.main-delivery-city_wrap {
  display: flex;
  justify-content: space-between;
}

.city-list img {
  margin-right: 8px;
  max-width: 10px;
  max-height: 9px;
}

.city-from {
  margin-right: 8px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.city-to {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-delivery {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  text-align: right;

  color: #4b5158;
}

.change-destination {
  /* background: #c4c4c4; */
  text-decoration-style: dotted;
  font-style: normal;
  font-size: 9px;
  line-height: normal;
  color: #c4c4c4;
}
